@page "/tetris"
@inject IGameStateService GameService
@implements IDisposable

<PageTitle>Tetris</PageTitle>

<h1>Tetris</h1>

<div class="game-container">
    <p>Tetris game page - Implementation in progress</p>
    
    <div class="game-controls">
        <button class="btn btn-primary" @onclick="StartGame">Start Game</button>
    </div>
    
    <div class="tetris-board-placeholder">
        <p>Tetris board will be rendered here</p>
    </div>
</div>

@code {
    private TetrisGame? game;
    
    protected override void OnInitialized()
    {
        // TODO: Initialize game properly
    }
    
    private void StartGame()
    {
        // TODO: Start game
    }
    
    public void Dispose() { }
}
